

/*Overskift*/
/* Overskrift */
h1 {
    color: saddlebrown;

    font-size: 70px;
    text-align: center; /* Tilføj denne linje for at centrere teksten */
    margin-top: 20px; /* Tilpas toppadding efter behov */
}

h2{
    color: black;
    font-size: 30px;

}

/* Opret en flex-container */
.flex-container{
    display: flex;
    justify-content: center; /* Justerer elementerne vandret i midten */

}


/* Stil for flexbox-gray */
.flexbox-gray {
    border: 5px solid black;
    min-height: 500px;
    min-width: 400px;
    flex-grow: 2; /* Ændrer flex-grow efter behov */
    flex-basis: 50%; /* Ændrer flex-basis efter behov for at justere bredden */
    align-items: center;
    background-color: gainsboro;
    /*margin-left: 50px;
    margin-right: 50px;*/
    text-align: center; /* For at centrere indholdet i elementet */


}

.textboxs{
    text-align: center;
    font-size: 20px;
}

