* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #5b768d;
}

.page-container {
    display: flex;
    justify-content: center;
}

.page-content {
    max-width: 800px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header {
    display: flex;
    justify-content: center;
}

.navigationbar {
    background: #f6c6a8;
    width: 100vw;
    display: flex;
    margin-bottom: 30px;
    border: 0.5vh solid black;
}

.navigationbar-left {
    display: flex;
    justify-content: left;
}

.navigationbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    max-width: 80%;
    height: auto;
}

#menuBtn {
    width: 7rem;
    height: 6rem;
    padding: 5px;
    margin: 1rem;
    border: solid;
    border-width: 0.3rem;
    border-radius: 2rem;
    border-color: #46425e;
    background: #d17c7c;
    font-size: 1.8rem;
    text-align: center;
    align-self: flex-start;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px black;
}

#menuBtn:hover {
    background-color: #d48a8a;
    transform: translateY(-7px);
}

.container {
    width: 800px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

#box1 {
    background-color: #f6c6a8;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px;
    height: 28rem;
    border: #46425e 0.3rem solid;
    border-radius: 0.3rem;
}

#box1 form input {
    margin: 10px;
}

#box1 button {
    margin: 20px;
}

#box2 {
    background-color: #f6c6a8;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 10px;
    width: 350px;
    height: 28rem;
    border: #46425e 0.3rem solid;
    border-radius: 0.3rem;
}

#box2 form input, #box2 button {
    margin: 10px;
}

#box4 {
    display: flex;
    justify-content: center;
}


#actionBtn {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 11rem;
    height: 5rem;
    border: solid;
    border-width: 0.3rem;
    border-radius: 2rem;
    border-color: #46425e;
    background: #d17c7c;
    display: inherit;
    font-size: 1.8rem;
    text-align: center;
    font-weight: bold;
    color: white;
    font-style: italic;
    font-family: Tinos, serif;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px black;

}

#actionBtn:hover {
    background-color: #d48a8a;
    transform: translateY(-7px);
}

#box2 div form button img {
    height: 10px;
    width: 10px;
    margin: -1px;
    margin-left: 3px;
}

.removeList {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    gap: 7px;
}

.removeList fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    width: 100%;
    padding: 7px;
}

.removeList button {
    padding: 7px;
}


#editMovieTxt {

}

#customMovieTxt {

}


#genreWhitelistTxt {

}

#genreBlacklistTxt {

}

#genre {

}

#ignoregenres {

}

#addGenreBtn {


    width: 4rem;
    height: 2rem;
    border: solid;
    border-width: 0.3rem;
    border-radius: 2rem;
    border-color: #46425e;
    background: #d17c7c;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px black;

}

#addGenreBtn:hover {
    background-color: #d48a8a;
    transform: translateY(-7px);
}

#addGenreBlacklistBtn {
    width: 4rem;
    height: 2rem;
    border: solid;
    border-width: 0.3rem;
    border-radius: 2rem;
    border-color: #46425e;
    background: #d17c7c;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px black;

}

#addGenreBlacklistBtn:hover {
    background-color: #d48a8a;
    transform: translateY(-7px);
}

#saveChangesBtn {
    margin-top: 20px;
    width: 8rem;
    height: 3rem;
    border: solid;
    border-width: 0.3rem;
    border-radius: 2rem;
    border-color: #46425e;
    background: #d17c7c;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    transition: all 0.3s ease 0s;
    box-shadow: 0px 8px 15px black;
}

#saveChangesBtn:hover {
    background-color: #d48a8a;
    transform: translateY(-7px);
}


.randomSlider {
    width: 70%;
}

.custom-table {
    border: black solid 0.1rem;
    border-collapse: collapse;
    margin: auto;
    font-size: 1.5rem;
}

.custom-table td, .custom-table th {
   padding: 5px;
}

#chosenGenresTable {

}

#ignoredGenresTable {

}

td {
    border: black solid 0.1rem;
}


.resultBox {
    background-color: #f6c6a8;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: center;
    width: 80vw;
    height: 50vh;
    border: #46425e solid 0.2rem;
    margin-top: 4rem;
    margin-bottom: 1rem;
}

#retakeButton {
    width: 11rem;
    height: 5rem;
    border: solid;
    border-width: 0.3rem;
    border-radius: 2rem;
    border-color: #46425e;
    background: #d17c7c;
    display: block;
    font-size: 1.8rem;
    text-align: center;
    align-self: center;
    font-weight: bold;
    color: white;
    font-style: italic;
    font-family: Tinos, serif;
    box-shadow: 0px 8px 15px black;
    transition: all 0.3s ease 0s;
}

#retakeButton:hover {
    background-color: #d48a8a;
    transform: translateY(-7px);
}

@media screen and (max-width: 800px) {

    .container {
        flex-direction: column;
        max-width: 100vw;
        align-items: center;
    }

    #box1 {
        width: 90vw;
    }

    #box2 {
        width: 90vw;
    }

    #box4 {
        width: 20vw;
    }

    #menuBtn {
        font-size: 1.3rem;
        width: 6rem;
        height: 4rem;
        border-radius: 1rem;
    }


}

@media screen and (max-width: 390px) {
    .container {
        flex-direction: column;
        width: 390px;
        align-items: center;
    }

    #menuBtn {
        font-size: 1.0rem;
        width: 4.5rem;
        height: 3rem;
        border-radius: 1rem;
    }
}

