/* Stylesheet for the application */

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
}

#page-container {
  /*  border: 1px solid red; */
    display: flex;
    justify-content: center;
}

/* Green box */
#page-content {
   /* border: 1px solid blue;*/
    max-width: 800px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.centered-form form {
  /*  border: 1px solid green;*/
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.centered-form form * {
    padding: 5px;
    font-size: 1.2rem;
}

.errormessage {
    color: red;
    font-size: 1.2rem;
}

/* Table styling */

.task-table {
    border-collapse: collapse;
    font-size: 1.2rem;
}

.task-table td, .task-table th {
    border: 1px solid #ddd;
    padding: 10px;
}

.task-table tr:nth-child(even) {
    background-color: silver;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer {
    margin-top: 30px;
}

.row {
    flex-direction: row;
}


/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #f00;
}



     /* GruppeM*/
 .boderegner {
     background-image: url('/images/gruppem/bode_backgound.webp'); /* Replace 'your-image.jpg' with your image file path */
     background-size: cover;
     background-position: center;
     height: 500px; /* Adjust the height as needed */
     min-width:600px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

/* GruppeM*/
.bodeind {
    background-color: rgba(255, 255, 255, 0.7); /* Background color with opacity */
    padding: 20px;
    border-radius: 5px;
}

/* GruppeM*/
.fart-input, select {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* GruppeM*/
.bode_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#tavle-content{

display:flex;
    flex-direction: column;
    justify-content: center;

}

#tavler{

    display:flex;
    justify-content: center;

}