/* Stylesheet for the application */

#result{
    border: red;

}

h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    text-align: center;
}

#page-container {
  border: 1px solid red;
    display: flex;
    justify-content: center;
}

/* Green box */
#page-content {
    border: 1px solid blue;
    max-width: 800px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.centered-form form {
  /*  border: 1px solid green;*/
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.centered-form form * {
    padding: 5px;
    font-size: 1.2rem;
}

.errormessage {
    color: red;
    font-size: 1.2rem;
}

/* Table styling */

.task-table {
    border-collapse: collapse;
    font-size: 1.2rem;
}

.task-table td, .task-table th {
    border: 1px solid #ddd;
    padding: 10px;
}

.task-table tr:nth-child(even) {
    background-color: silver;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header > div > a {
    display: flex;
    justify-content: center;
}

footer {
    margin-top: 30px;
}

.row {
    flex-direction: row;
}

/* Hide the default radio button */
.hidden-radio {
    display: none;
}

/* Style for the label with default image */
.image-radio {
    display: inline-block;
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    background-repeat: no-repeat;
    background-size: cover;
    padding:10px;
    cursor: pointer;
    margin-right: 10px;
}

/* Style each image */
.image-radio[data-image="50-image"] {
    background-image: url('../images/gruppem/50.png');
}

.image-radio[data-image="80-image"] {
    background-image: url('../images/gruppem/80.png');
}

.image-radio[data-image="110-image"] {
    background-image: url('../images/gruppem/110.png');
}

.image-radio[data-image="130-image"] {
    background-image: url('../images/gruppem/130.png');
}


/* Style for the label when the associated radio button is selected */
.hidden-radio:checked + .image-radio[data-image="50-image"] {
    background-image: url('../images/gruppem/50.png');
    filter: brightness(80%) blur(3px);
}

.hidden-radio:checked + .image-radio[data-image="80-image"] {
    background-image: url('../images/gruppem/80.png');
    filter: brightness(80%) blur(3px);
}

.hidden-radio:checked + .image-radio[data-image="110-image"] {
    background-image: url('../images/gruppem/110.png');
    filter: brightness(80%) blur(3px);
}

.hidden-radio:checked + .image-radio[data-image="130-image"] {
    background-image: url('../images/gruppem/130.png');
    filter: brightness(80%) blur(3px);
}

     /* GruppeM*/
 .boderegner {
     background-image: url('../images/gruppem/bode_backgound.webp'); /* Replace 'your-image.jpg' with your image file path */
     background-size: cover;
     background-position: center;
     height: 500px; /* Adjust the height as needed */
     min-width:600px;
     display: flex;
     justify-content: center;
     align-items: center;
 }

/* GruppeM*/
.bodeind {
    background-color: rgba(255, 255, 255, 0.7); /* Background color with opacity */
    padding: 20px;
    border-radius: 5px;
}

/* GruppeM*/
.fart-input, select {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
/* GruppeM*/
.bode_button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#tavle-content{

display:flex;
    flex-direction: column;
    justify-content: center;

}

#tavler{
    display:flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Frontpage */

#lifehack_menu {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    border: 1px yellow solid;
    width: 620px;
}

@media screen and (max-width: 620px) {
    #lifehack_menu {
        display: flex;
        flex-flow: row wrap;
        gap: 10px;
        border: 1px yellow solid;
        width: 410px;
    }
}

.lifehack_item {
    display: flex;
    flex-flow: column wrap;
}

.lifehack_item a {
    text-decoration: none;
}

.lifehack-item-image {
}

.lifehack-item-image img {
    width: 200px;
    height: 200px;
}

.lifehack_title {
    color: white;
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding:3px;

}
