<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('Create account')}"></div>

<body>

<div id="page-container">

    <div id="page-content">
        <div th:replace="~{fragments :: header('Create account')}"></div>
        <p>Indtast venligst brugerinfo:</p>
        <div class="centered-form">
            <form method="post">

                <input type="text" name="username" placeholder="username"/>
                <input type="password" name="password1" placeholder="password"/>
                <input type="password" name="password2" placeholder="gentag password"/>
                <button type="submit" formaction="/createuser">Opret bruger</button>

                <p class="errormessage" th:text="${#ctx.message}"></p>
            </form>
        </div>
        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>
