<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="../public/css/groupBStyles.css" th:href="@{/css/groupBStyles.css}" rel="stylesheet"/>
</head>
<body>

<div>
<header>
    <div class="navigationbar">
        <form>
            <button id="menuBtn" type="submit">Menu</button>
        </form>
        <img id="logo" th:src="@{/images/lifehack.png}" src="../public/images/lifehack.png"/>
    </div>
    <hr>
</header>

    <div class="resultBox">
        <table class="custom-table" id="" th:unless="${#lists.isEmpty(movies)}">
            <tr>
                <th>name</th>
            </tr>
            <tr th:each="movie, rowStat : ${#ctx.movies}">
                <td th:text="${movie.name}"></td>
            </tr>
        </table>
    </div>
    <div id="box4">
        <button id="retakeButton">Retake!</button>
    </div>

</div>
</body>
</html>
