<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="../public/css/groupBStyles.css" th:href="@{/css/groupBStyles.css}" rel="stylesheet"/>
</head>
<body>

<div>


            <header>
                <div class="navigationbar">
                    <form>
                        <button id="menuBtn" type="submit">Menu</button>
                    </form>
                    <img id="logo" th:src="@{/images/lifehack.png}" src="../public/images/lifehack.png"/>
                </div>
                <hr>
            </header>

            <div class="container">
                <div id="box1">
                    <h2 id="editMovieTxt">Edit Movie Criteria:</h2>
                    <h3 id="genreWhitelistTxt">Genre Whitelist:</h3>
                    <form action="post">
                        <select id="genre" name="genre" size="3">
                            <option name="action" value="action">Action</option>
                            <option name="crime" value="crime">Crime</option>
                            <option name="drama" value="drama">Drama</option>
                            <option name="fantasy" value="fantasy">Fantasy</option>
                            <option name="horror" value="horror">Horror</option>
                            <option name="comedy" value="comedy">Comedy</option>
                            <option name="romance" value="romance">Romance</option>
                            <option name="sciencefiction" value="sciencefiction">Science Fiction</option>
                            <option name="sports" value="sports">Sports</option>
                            <option name="thriller" value="thriller">Thriller</option>
                            <option name="mystery" value="mystery">Mystery</option>
                            <option name="war" value="war">War</option>
                            <option name="western" value="western">Western</option>
                        </select>
                        <button id="addGenreBtn" type="submit">Add</button><br>
                        <h3 id="genreBlacklistTxt">Genre Blacklist:</h3>
                        <select id="ignoregenres" name="ignoregenres" size="3">
                            <option name="action" value="action">Action</option>
                            <option name="crime" value="crime">Crime</option>
                            <option name="drama" value="drama">Drama</option>
                            <option name="fantasy" value="fantasy">Fantasy</option>
                            <option name="horror" value="horror">Horror</option>
                            <option name="comedy" value="comedy">Comedy</option>
                            <option name="romance" value="romance">Romance</option>
                            <option name="sciencefiction" value="sciencefiction">Science Fiction</option>
                            <option name="sports" value="sports">Sports</option>
                            <option name="thriller" value="thriller">Thriller</option>
                            <option name="mystery" value="mystery">Mystery</option>
                            <option name="war" value="war">War</option>
                            <option name="western" value="western">Western</option>
                        </select>
                        <button id="addGenreBlacklistBtn" type="submit">Add</button>
                        <input id="slider" class="randomSlider" name="randomness" type="range" min="0" max="100" value="0"><br>
                        <p>Randomness: <span id="randomAmount"></span></p>
                        <button id="saveChangesBtn" type="submit">Save changes</button>
                    </form>
                </div>
                <div id="box2">
                    <h2 id="customMovieTxt">Custom Movie Criteria:</h2>
                    <table class="custom-table" id="chosenGenresTable">
                        <tr>
                            <th>Genre(s) chosen:</th>
                            <th>Remove genre(s):</th>
                        </tr>
                        <tr th:each="genre, rowStat : ${session.genrelist}">
                            <td th:text="${genre}"></td>
                            <td>
                                <form th:action="@{'/tasks.html?acton=done&id=' + ${rowStat.index}}" method="post">
                                    <input type="hidden" name="action" value="remove"/>
                                    <input type="hidden" name="id" th:value="${rowStat.index}"/>
                                    <input type="hidden" name="name" th:value="${genre}"/>
                                    <button type="submit" th:if="${#lists.isEmpty(session.genrelist) == false}">Remove</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                    <table class="custom-table" id="ignoredGenresTable">
                        <tr>
                            <th>Ignored genres:</th>
                            <th>Remove genre(s):</th>
                        </tr>
                        <tr th:each="genre, rowStat : ${session.ignoredgenrelist}">
                            <td th:text="${genre}"></td>
                            <td>
                                <form th:action="@{'/tasks.html?acton=done&id=' + ${rowStat.index}}" method="post">
                                    <input type="hidden" name="action" value="remove"/>
                                    <input type="hidden" name="id" th:value="${rowStat.index}"/>
                                    <input type="hidden" name="name" th:value="${genre}"/>
                                    <button type="submit" th:if="${#lists.isEmpty(session.ignoredgenrelist) == false}">Remove</button>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
    </div>
        <div id="box4">
            <form>
                <button id="actionBtn" type="submit">ACTION!</button>
            </form>
        </div>
    </div>
</div>

<script>
    var slider = document.getElementById("slider")
    var count = document.getElementById("randomAmount")
    count.innerHTML = slider.value;

    slider.oninput = function (){
        count.innerHTML = this.value;
    }
</script>


</body>
</html>
