<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{fragments :: head('title')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <div th:replace="~{fragments :: header('Valutaomregner')}"></div>


        <form method="post">


            <br>

            <label for="amount">Enter amount to calculate:</label><br>
            <input type="number" id="amount" name="amount">
            <select name="startCurrency" id="startCurrency">
                <option th:each="valuta: ${#ctx.valutaList}" th:text="${valuta}" ></option>

            </select><br>

           <a  id="result" th:text="${#ctx.calculatedValuta}">Value</a>

            <select name="endCurrency" id="endCurrency" >
                <option th:each="valuta: ${#ctx.valutaList}" th:text="${valuta}"></option>
            </select>
            <br>
            <button formaction="/valuta" type="submit" value="Submit" >submit</button>

        </form>


        <div th:replace="~{fragments :: footer}"></div>
    </div>
</div>
</body>
</html>
