<!DOCTYPE html>

<html lang="da" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<!-- Indlæs head-sektionen fra en anden skabelon ved hjælp af Thymeleaf -->
<div th:replace="~{fragments :: head('Find java partner')}"></div>

<body>

<div id="page-container">
    <div id="page-content">
        <!-- Indlæs header-sektionen fra en anden skabelon ved hjælp af Thymeleaf -->
        <header th:fragment="header(title)">
            <img th:src="@{/images/lifehack.png}" src="../public/images/lifehack.png" width="80%"/>
            <h1>Find en Java partner fra teamet <span th:text="${#ctx.teamname}"></span></h1>
        </header>

        <!-- Vis klassebetegnelsen for holdet ved hjælp af Thymeleaf-expression -->
        <form method="post">
            <!-- Opret et formular til at søge efter en makker -->
            <input type="text" name="username" placeholder="username"/>
            <label for="java_level">Vælg din java erfarring :</label>
            <select name="java_level" id="java_level">
                <option disabled>Vælg erfarings niveau</option>
                <option value="begynder">Begynder</option>
                <option value="øvet">Øvet</option>
                <option value="hardcore">Hardcore</option>
            </select>
            <button type="submit" formaction="/find-partner">Find en makker</button>

            <!-- Vis eventuelle fejlbeskeder ved hjælp af Thymeleaf-expression -->
            <p class="errormessage" th:text="${#ctx.message}"></p>
        </form>

        <!--
        <div th:replace="~{fragments :: footer}"></div>
        -->

    </div>
</div>
</body>
</html>
